<?xml version="1.0"?>
<config>
    <modules>
        <Prettylittlething_Specialsubscription>
            <version>0.1.0</version>
        </Prettylittlething_Specialsubscription>
    </modules>
    <global>
        <models>
            <prettylittlething_specialsubscription>
                <class>Prettylittlething_Specialsubscription_Model</class>
                <resourceModel>prettylittlething_specialsubscription_resource</resourceModel>
            </prettylittlething_specialsubscription>
            <prettylittlething_specialsubscription_resource>
                <class>Prettylittlething_Specialsubscription_Model_Resource</class>
                <entities>
                    <Specialsubscription>
                        <table>Specialsubscription</table>
                    </Specialsubscription>
                </entities>
            </prettylittlething_specialsubscription_resource>
        </models>
        <blocks>
            <prettylittlething_specialsubscription>
                <class>Prettylittlething_Specialsubscription_Block</class>
            </prettylittlething_specialsubscription>
        </blocks>
        <helpers>
            <prettylittlething_specialsubscription>
                <class>Prettylittlething_Specialsubscription_Helper</class>
            </prettylittlething_specialsubscription>
        </helpers>
        <resources>
            <prettylittlething_specialsubscription_setup>
                <setup>
                    <module>Prettylittlething_Specialsubscription</module>
                </setup>
            </prettylittlething_specialsubscription_setup>
            <prettylittlething_specialsubscription_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </prettylittlething_specialsubscription_write>
            <prettylittlething_specialsubscription_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </prettylittlething_specialsubscription_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <Prettylittlething_specialsubscription>
                <use>standard</use>
                <args>
                    <module>Prettylittlething_Specialsubscription</module>
                    <frontName>specialsubscription</frontName>
                </args>
            </Prettylittlething_specialsubscription>
        </routers>
    </frontend>
</config>